#confirmacaocompra{
    background-color: #f9f8fe;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: max-content;
    box-sizing: border-box;
    padding: 6vh 7vw 28vh 7vw;
    gap: 20px;
}