@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#footer{
  width: 100%;
  height: 70vh;
  display: flex;
  background-color: #1f1f1f;
  color: white;
  padding-top: 7vh;
}
#footer img {
  width: 15vw;
  margin-bottom: 5vh;
}

#footerContent{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
#footerContent p {
  text-align: justify;
  margin-bottom: 5vh;
  font-size: 16px;
}

#content {
  display: flex;
  align-items: center;
  gap: 3vw;
}

#footerInfor {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#footerInfor h3 {
  margin-left: 0.7vw;
  font-size: 20px;
}

#footerInfor a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

#footerInfor a:hover {
  color: #00bfff;
}

#footerInfor span {
  display: flex;
  padding: 10px;
}

#footerDigital {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1vh;
  background-color: #1f1f1f;
  color: white;
  /* margin-bottom: 1vh; */
}