@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

#loginBody {
    background-color: #bdbef4;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

#loginBodyTenis img {
    width: 20vw;

}

#loginForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 30vw;
    height: 70vh;
}

#loginTitles {
    padding-left: 2vw;
    padding-top: 3vh;

}

#loginTitles h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 1vh;
}

#loginTitles p {
    font-size: 13px;
    color: #1F1F1F;

}

#loginTitles a {
    font-size: 14px;
    color: #1F1F1F;
}

#inputsLoginForm{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 4vh;
}
#inputsLoginForm label{
    font-size:10px;
    color: red;
    font-weight: bold;
    padding-bottom: 2vh;
}

#inputsLoginForm input{
    width: 25vw;
    height: 6vh;
    background-color: #dfdcdc;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 2vw;
    margin-bottom: 2vh;
}
#inputsLoginForm a {
    font-size: 12px;
    color: #1F1F1F;
    font-weight: 600;
    margin-bottom: 3vh;
}

#inputsLoginForm button{
    width: 25vw;
    height: 6vh;
    background-color: #C92071;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}
#formRedirection {
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vh;
}
#formRedirection p{
    font-size: 12px;
}
#formRedirection img {
    width: 5vw;
}
