*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#headerLogin{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 4vw;
}

#headerLogin img {
    width: 15vw;
}

@media (min-width: 344px) and (max-width: 970px) {
     #headerLogin{
        height: 8vh;
        justify-content: center;
        
    }
    #headerLogin img {
        width: 40vw;
    }
}